.input-container {
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.search-element {
  flex-basis: calc(90% - 50px);
  padding: 10px 20px;
}

button {
  flex-basis: 10%;
  background-color: #35A5D4;
  border: none;
  color: white;
}