@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header, footer{
  background-color: #35a5d4;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.container{
  width: 90%;
  margin: 0 auto;
}